<div class="header">
  <i class="material-icons">menu</i>  
  <ul class="nav-links azuki">
    <li><a routerLink="/" routerLinkActive="active" class="home" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
    <li><a routerLink="/introduction" routerLinkActive="active" class="incident">INTRODUCTION</a></li>
    <li><a routerLink="/timeline" routerLinkActive="active" class="statistics">Timeline</a></li>
    <li><a routerLink="/projects" routerLinkActive="active" class="events">PROJECTS</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" class="contact">CONTACT ME</a></li>
  </ul>
</div>
