<div class="statistics page-container burgundy black-text japanese-violet ">

  <div class="nav-top">
    <a routerLink="/introduction"><i class="material-icons black-text">keyboard_arrow_left</i></a>
  </div>

  <!-- <div *ngIf="!isMobile()" class="page-content center">
    <img src="/assets/images/statistics/statistics.png">
  </div>
  
  <div *ngIf="isMobile()" class="page-content center">
    <div class="page-title left-align">OUTREACH</div>
    <img src="/assets/images/statistics/statistics1.png">
    <img src="/assets/images/statistics/statistics2.png">
    <img src="/assets/images/statistics/statistics3.png">
    <img src="/assets/images/statistics/statistics4.png">
    <img src="/assets/images/statistics/statistics5.png">
    <img src="/assets/images/statistics/statistics6.png">
  </div> -->
<vertical-timeline>
 
  <vertical-timeline-card
  [dateValue]="'21 May 2019'"
  [timeString]=" "
  >
   
    <div class="title azuki">IIT BOMBAY<br> -Fellowship at FOSSEE 2019</div>
    <div class="ltr azuki">Working and Contributing on Open Source Softwares like Spoken Tutorials which is using angular and django rest</div>
  </vertical-timeline-card>

  <vertical-timeline-card
  [dateValue]="'05 April 2019'"
  [timeString]=""
  >
   
    <div class="title azuki">Web Enthusiasts` Club NITK <br> -Secretary at Development SIG</div>
    <!-- <div class="ltr">My seniors gave me this responsibility and I will try to give my level best.</div> -->
  </vertical-timeline-card>

  <vertical-timeline-card
  [dateValue]="'29 August 2018'"
  [timeString]=""
  >
   
    <div class="title azuki">Web Enthusiasts` Club NITK <br> -Executive Member</div>
    <div class="ltr">.</div>
  </vertical-timeline-card>

  <vertical-timeline-card
  [dateValue]="'15 August 2018'"
  [timeString]=""
  >
   
    <div class="title azuki">ISTE NITK <br> -Executive Member</div>
    <div class="ltr">.</div>
  </vertical-timeline-card>

  <vertical-timeline-card
  [dateValue]="'15 July 2017'"
  [timeString]=""
  >
   
    <div class="title azuki">NIT Surathkal, Karnataka <br> BTech - Batch of 2021 </div>
    <div class="ltr azuki">Computer Science Engineering</div>
  </vertical-timeline-card>

  <vertical-timeline-card
  [dateValue]="'15 April 2016'"
  [timeString]=""
  >
   
    <div class="title azuki">MVM Shahdol <br> </div>
    <div class="ltr azuki">Scored 93.4 % in CBSE 12th</div>
  </vertical-timeline-card>

</vertical-timeline>
<br><br><br>
  <app-footer *ngIf="isMobile()"></app-footer>

  <div class="nav-down">
    <a routerLink="/projects"><i class="material-icons black-text">keyboard_arrow_right</i></a>
  </div>
</div>