<div>

  <div class="incident page-container white-text japanese-violet">

    <div class="nav-top">
      <a routerLink="/timeline"><i class="material-icons black-text">keyboard_arrow_left</i></a>
    </div>
    
    <div class="page-content">

      <div class="page-title">PROJECTS</div>
      <br />
      <a class="mbtn back-link monserrat white-text" unselectable="on">
        &lt; Back to categories of projects
      </a>

      <div class="category-list events-listing row active azuki">
        <div class="col s12 m4" *ngFor="let item of categories">
          <a class="events-listing-item" href="projects#{{ item.hash }}">
            <div class="image" [style.backgroundImage]="'url(assets/images/projects/' + item.image + ')'"></div>
            <div class="title">{{ item.name }}</div>
          </a>
        </div>
      </div>

      <div *ngFor="let key of eventKeys">
        <div class="{{ key }}-list events-listing row">
          <div *ngIf="getCategoryFromHash(key).page_desc" class="events-page-desc monserrat" [innerHTML]="getCategoryFromHash(key).page_desc">
          </div>
          <div class="row" *ngFor="let item of events[key]">
            <div *ngIf="item.image" class="col s12 m4">
              <img src="/assets/images/projects/{{item.image }}"/>
            </div>
            <div *ngIf="item.youtube" class="col s12 m4 inci-vid monserrat"  >
              <iframe class="" [src]="getSafeUrl(item.youtube)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
            </div>
            <div class="col s12 monserrat" [class.m8]="item.image || item.youtube">
              <div class="title azuki">{{ item.name }}</div>
              <div class="ltr" [innerHTML]="item.desc"></div>
              <div class="ltr" *ngIf="item.team" [innerHTML]="'<b>team: </b>' + item.team"></div>
              <br />
              <a class="mbtn white-text" *ngIf="item.code" href="{{ item.code }}" target="_blank">View Source Code</a>
              &nbsp;&nbsp;
              <a class="mbtn white-text" *ngIf="item.url" href="{{ item.url }}">View Application</a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div *ngFor="let key of eventKeys">
        <div *ngFor="let item of events[key]">
          <div id="{{item.hash}}" class="modal bottom-sheet">
            <div class="modal-content black-text">
              <h4>{{ item.name }}</h4>
              <p>{{ item.desc }}</p>
            </div>
          </div>
        </div>
      </div> -->

      <br /><br /><br />

    </div>

    <br />
    <a class="mbtn back-link monserrat white-text" unselectable="on">
      &lt; Back to categories of projects
    </a>
    <br />
    <br />
    <br />

    <app-footer class="black-text" *ngIf="isMobile()"></app-footer>

    <div class="nav-down">
      <a routerLink="/contact"><i class="material-icons black-text">keyboard_arrow_right</i></a>
    </div>

  </div>

</div>
