<div class="incident page-container japanese-violet white-text">

  <div class="nav-top">
    <a routerLink="/"><i class="material-icons black-text">keyboard_arrow_left</i></a>
  </div>

  <div class="page-content">
    <h1 class="page-title">INTRODUCTION</h1>
  
      <div class="inci-desc monserrat">
        I believe, It becomes much easier to work if we choose a field where work never feels like work. 
                   I feel excited about approaching different people having a different mindset. 
                   I want to work in a team which is motivated to work for a change. I became a developer 
                   because of my passion for reaching out to people and solve some of their problems from the tech I know.
                   I have worked in the areas of Machine Learning, Web/Android Development. 
      </div> 
  
  </div>

  <app-footer *ngIf="isMobile()"></app-footer>

  <div class="nav-down">
    <a routerLink="/timeline"><i class="material-icons black-text">keyboard_arrow_right</i></a>
  </div>
</div>