<div class="contact page-container japanese-violet  white-text">

  <div class="nav-top">
    <a routerLink="/projects"><i class="material-icons black-text">keyboard_arrow_left</i></a>
  </div>

  <div class="page-content">
        
    <div class="page-title">CONTACT ME</div>


    <div class="contact-us center-align">
      <div class="contact-mobile left-align">
        <h4 class="black-textt"> <span style="font-weight: 300"><br><b>Mob No :</b> +91&nbsp;9113&nbsp;536&nbsp;695
          <br><b>Hostel :</b> #2, Mega Towers NITK<br>
          <b>Email : </b>mananpoddarm@gmail.com<br>
        </span></h4>
      </div>
    </div>

    <br /><br /><br />

  </div>

  <app-footer *ngIf="isMobile()"></app-footer>

  <div class="nav-down">
    <a routerLink="/"><i class="material-icons black-text">keyboard_arrow_right</i></a>
  </div>
</div>
