<div id="home" class="page-container home center-align monserrat japanese-violet ">
    <div id="landing" class="landing">
        <div class="tap">
            <a class="mbtn mbtn-white" routerLink="introduction">Let's Start</a>
        </div>
        <h1 class="title azuki">Manan Poddar</h1>
        <div class="theme-title">National Institute of Technology, Karnataka Surathkal</div>
        <div class="duration">Computer Science Engineering(2021)<br>Engineer By Choice</div>
        <div class="tap">
            <a class="mbtn mbtn-white" href="https://drive.google.com/file/d/15jlFbMGVSepRkeB9V2R29ujAvEPTAj_d/view" target="_blank">Resume</a>
        </div>
    </div>
</div>
